.match {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px;
}

.match:hover {
  background-color: #f1f4f5;
  cursor: pointer;
}

.match__image {
  width: 55px;
  height: 55px;
  object-fit: cover;
  border-radius: 50%;
}

.match__name {
  font-weight: 300;
  font-size: 15px;
  font-weight: 500;
}
