.swipe {
  position: absolute;
}

.dashboard {
  display: flex;
  background-color: #f3fafc;
  height: 100vh;
}

.dashboard__container {
  flex: 0.7;
}

@media only screen and (max-width: 769px) {
  .dashboard__container {
    flex: 1;
  }
}
