.controls {
  display: flex;
  justify-content: center;
  align-items: center;
}

.controls__button {
  background: #fff;
  box-shadow: 0 2px 6px 0 rgba(112, 125, 135, 0.15);
  height: 70px;
  width: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  margin: 0 25px;
  cursor: pointer;
}

.controls .controls__button:nth-child(1) {
  color: #fd5068;
  transition: 0.3s;
}

.controls .controls__button:nth-child(1):hover {
  background-color: #fd5068;
  color: #fff;
}

.controls .controls__button:nth-child(2) {
  color: #1be4a1;
  transition: 0.3s;
}

.controls .controls__button:nth-child(2):hover {
  background-color: #1be4a1;
  color: #fff;
}

@media only screen and (max-width: 769px) {
  .controls {
    display: none;
  }
}

@media only screen and (max-height: 769px) {
  .controls {
    display: none;
  }
}
