.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 350px;
  height: 600px;
  background-color: #fff;
  border: 1px solid black;
  border-radius: 10px;
  padding: 30px;
}

.modal__icon {
  cursor: pointer;
}
