.navbar {
  display: flex;
  justify-content: space-between;
  padding: 15px 20px;
}

.navbar__button {
  color: #000;
  font-size: 18px;
  background-color: #fff;
  padding: 7px 30px;
  height: 40px;
  border-radius: 30px;
  border: none;
  cursor: pointer;
}

.navbar__button:hover {
  background-color: #ddd;
}

.logo {
  width: 150px;
}
